<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.1/echarts.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>

<div id="app">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="chart1" style="width: 1000px;height:400px;"></div>
    <div id="chart2" style="width: 1000px;height:400px;"></div>
    <div id="chart3" style="width: 1000px;height:400px;"></div>
    <!-- <input type="text"  v-model="code" name="" id="" value="" />
    <button @click="request">刷新</button> -->
    <select @change="selectChange" v-model="code">
        <option v-for="(item, index) in jjList" :value="item.code" :data-index="index">{{ item.name }}</option>
    </select>
</div>


<script type="text/javascript">
    new Vue({
        el: "#app",
        data() {
            return {
                list: [],
                x: [],
                y: [],
                kListCode: "",
                kListX: [],
                kListY: [],
                y2: [],
                code: "",
                pageSize: 40,
                jjList: [{
                    "code": "161725",
                    "kListCode": "399997",
                    "name": "白酒"
                },
                    {
                        "code": "167301",
                        "kListCode": "399809",
                        "name": "保险"
                    },

                    {
                        "code": "001595",
                        "kListCode": "399986",
                        "name": "银行"
                    },
                    {
                        "code": "501090",
                        "kListCode": "931068",
                        "name": "消费"
                    },
                    {
                        "code": "320007",
                        "kListCode": "H30184",
                        "name": "诺安"
                    },
                    {
                        "code": "161726",
                        "kListCode": "399441",
                        "name": "生物"
                    }
                ]
            }
        },
        methods: {
            historyList() {
                var self = this;
                axios.get("http://127.0.0.1:5000/api/v1/ttjj/ttjjHistoryList" + "?code=" + this.code + "&pageSize=" + this.pageSize)
                    .then(function (response, error) {

                        self.list = response.data.result.Datas;

                        // 清空数组
                        self.x = []
                        self.y = []
                        self.y2 = []

                        // 赋值
                        for (var key in self.list) {
                            self.x.push(self.list[key]["FSRQ"].substr(5, 5));
                            self.y.push(self.list[key]["JZZZL"]);
                        }

                        self.x = self.x.reverse();
                        self.y = self.y.reverse();

                        self.drawLine();


                    }).catch(function (error) {
                    if (error != null) {
                        console.log("出错啦");
                    }
                })
            },
            kList() {
                axios.get("http://127.0.0.1:5000/api/v1/ttjj/kList" + "?code=" + this.kListCode + "&pageSize=" + this.pageSize)
                    .then((response, error) => {
                        console.log(response);
                        let source = response.data.result.data.klines;
                        this.kListX = []
                        this.kListY = []
                        for (var index in source) {
                            let str = source[index];
                            let arr = str.split(",");
                            this.kListX.push(arr[0]);
                            this.kListY.push([arr[1], arr[2], arr[3], arr[4]])
                        }
                        this.drawLine();
                    })
            },
            drawLine() {

                var chart1 = echarts.init(document.getElementById('chart1'));
                var chart2 = echarts.init(document.getElementById('chart2'));
                var chart3 = echarts.init(document.getElementById('chart3'));

                var option1 = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    legend: {
                        data: ['动能']
                    },
                    xAxis: {
                        data: this.x
                    },
                    yAxis: {},
                    series: [{
                        name: '涨跌动能',
                        type: 'line',
                        data: this.y
                    },
                    ]
                };

                var option2 = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    legend: {
                        data: ['动能']
                    },
                    xAxis: {
                        data: this.x
                    },
                    yAxis: {},
                    series: [{
                        name: '涨跌动能',
                        type: 'bar',
                        data: this.y
                    }]
                };

                var option3 = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    legend: {
                        data: ['动能']
                    },
                    xAxis: {
                        data: this.kListX
                    },
                    yAxis: {},
                    series: [{
                        name: 'k线图',
                        type: 'k',
                        data: this.kListY
                    }]
                };


                chart1.setOption(option1);
                chart2.setOption(option2);
                chart3.setOption(option3);

            },
            selectChange(e) {
                let item = this.jjList[e.target.options.selectedIndex];
                this.kListCode = item.kListCode;
                this.historyList();
                this.kList();
            }
        },
        created() {
            this.code = this.jjList[0].code;
            this.kListCode = this.jjList[0].kListCode;
        },
        mounted() {
            this.historyList();
            this.kList();
        }
    })
</script>

<script type="text/javascript">

</script>


</body>
</html>
